Q1. What is a database? Differentiate between SQL and NoSQL databases.

SQL
MongoDB
NoSQL
SQL databases are primarily referred to as Relational Databases (RDBMS).

NoSQL databases are primarily referred to as Non-relational or Distributed Database.

svg viewer
SQL

SQL databases are table based databases.

Have predefined schema.
Are vertically scalable.
Use SQL (Structured Query Language) for defining and manipulating the data.


A good fit for the complex query intensive environment

Emphasize ACID properties (Atomicity, Consistency, Isolation and Durability)
Examples include: MySql, Oracle, Sqlite, Postgres and MS-SQL.
NoSQL

NoSQL databases are document based, key-value pairs, graph databases.
Have dynamic schema.
Are horizontally scalable.
Focused on the collection of documents.
Not ideal for complex queries.


Follow the Brewers CAP theorem (Consistency, Availability and Partition tolerance )

Examples include: MongoDB, BigTable, Redis, RavenDb, Cassandra, Hbase, Neo4j and CouchDb.
Diving deeper
Relational database: is a collective set of multiple data sets organized by tables, records and columns.
Document database: pairs each key with a complex data structure known as a document. Documents can contain many different key-value pairs and nested documents.
svg viewer
Key-value database: are the simplest NoSQL databases. Every single item in the database is stored as an attribute name (or ‘key’), together with its value.
svg viewer
License: Creative Commons -Attribution -ShareAlike 4.0 (CC-BY-SA 4.0)

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#Switched to a database
mysql> USE GVKCV;
Database changed

#Creating table student
mysql> create table student
    -> (ROLLNO INT NOT NULL PRIMARY KEY,
    -> NAME CHAR(10),
    -> TELUGU CHAR(10),
    -> HINDI CHAR(10),
    -> MATHS CHAR(10));
Query OK, 0 rows affected (1.38 sec)

#Inserting values into table
mysql> insert into student
    -> values(101,"student1",50,51,52),
    -> (102,"student2",60,61,62),
    -> (103,"student3",70,71,72),
    -> (104,"student4",80,81,82),
    -> (105,"student5",90,91,92),
    -> (106,"student6",40,41,42),
    -> (107,"student7",63,64,65);
Query OK, 7 rows affected (0.24 sec)
Records: 7  Duplicates: 0  Warnings: 0

#Adding new attribute computers
mysql> alter table student
    -> add (computers char(10));
Query OK, 0 rows affected (1.13 sec)
Records: 0  Duplicates: 0  Warnings: 0

#Describing table
mysql> desc student;
+-----------+----------+------+-----+---------+-------+
| Field     | Type     | Null | Key | Default | Extra |
+-----------+----------+------+-----+---------+-------+
| ROLLNO    | int      | NO   | PRI | NULL    |       |
| NAME      | char(10) | YES  |     | NULL    |       |
| TELUGU    | char(10) | YES  |     | NULL    |       |
| HINDI     | char(10) | YES  |     | NULL    |       |
| MATHS     | char(10) | YES  |     | NULL    |       |
| computers | char(10) | YES  |     | NULL    |       |
+-----------+----------+------+-----+---------+-------+

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

mysql> select *from student;
+--------+----------+--------+-------+-------+
| ROLLNO | NAME     | TELUGU | HINDI | MATHS |
+--------+----------+--------+-------+-------+
|    101 | student1 | 50     | 51    | 52    |
|    102 | student2 | 60     | 61    | 62    |
|    103 | student3 | 70     | 71    | 72    |
|    104 | student4 | 80     | 81    | 82    |
|    105 | student5 | 90     | 91    | 92    |
|    106 | student6 | 40     | 41    | 42    |
|    107 | student7 | 63     | 64    | 65    |
+--------+----------+--------+-------+-------+

Q4. What is DQL? Explain SELECT with an example.

We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. 
It includes the select statemnent. This command allows getting the data out of the database to perform operations with it.

Q5. Explain Primary Key and Foreign Key.

A primary key is used to ensure data in the specific column is unique. A foreign key ia a column or group of columns in a relational database table that provides a link between data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
  
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="user",
  passwd ="password"
)
 
print(dataBase)
  
# Disconnecting from the server
dataBase.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM/JOIN,
WHERE,
GROUP BY,
HAVING,
SELECT,
ORDER BY,
LIMIT/OFFSET,